.Footer-Content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}
.Footer-Container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}
.Footer-Actions {
    display: flex;
    align-items: center;
}